<body>
  <div class="wrapper">

    <!-- Navigation bar with link to pages -->
    <header>
      <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">

          <a class="navbar-brand" href="#">QuincyReid.me</a>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="https://github.com/quincyreid">Projects</a></li>
          </ul>
        </div>
      </div>
    </header>
